body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* Animacion personaje */
.personaje{
    position: relative;
    margin-top: 70px;
    height: 500px;
    width: 375px;
    background-image: url(../Visual/Material/Animaciones/MenuInicio/Saludar.png);
    animation-name: saludar;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
    margin-left: 730px;
}
/* Declaracion de la animacion */
@keyframes saludar {
    from{background-position-x: 0px;}
    to{background-position-x: -1508px;}
}

#imagen{
    margin-top: 70px;
    margin-left: 730px;
    display: flex;
    flex-wrap: wrap;   
}

/* Para posicionar las card de bootstrap */
.card1{
    margin-top: -10px;
    margin-left: 60px;
    
}

cambiar ciertos atributos
.boton1{
    margin-top: 5px;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 25px;
}
 .titulo{
    margin-top: -550px;
    margin-left: 150px;
    font-size: 60px;
 }

.card2{
    margin-top: -10px;
    margin-left: 60px;
}

.boton2{
    margin-top: 5px;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 25px;
}

.cerrarSesion{
    margin-top: -100px;
    margin-left: 90%;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

