
.opcion{
	width: 100px;
	height: 100px;
	border: 1px solid  #fb71ff;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #ff99ff;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
.opcion:hover{
	background-color: #262626;
}