body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.titulo{
    position: relative;
    right: -100px;
    top: 10px;
}
#opcionArriba{
    width: 120px;
	height: 120px;
	border: 5px solid  #752828;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #d35959;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    top: -20px;
    right: -890px;
}

#opcionAbajo{
    width: 120px;
	height: 120px;
	border: 5px solid  #67ab49;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #95e372;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -890px;
    top: -10px;
}

#opcionIzquierda{
    width: 120px;
	height: 120px;
	border: 5px solid  #A5942B;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #E2CD3C;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -750px;
    top: -150px;
}

#opcionDerecha{
    width: 120px;
	height: 120px;
	border: 5px solid  #3d7998;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #75b6d7;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -1030px;
    top: -290px;
}

#btnIniciar{
    width: 150px;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    border: 1px solid  #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left: 50px;
}

#btnReiniciar{
    width: 150px;;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left: 250px;
}

.botones{
    margin-left: 100px;
    margin-top: 350px;
    font-size: 80px;
}

.numeroCompletar{
    position: relative;
    right: -100px;
    margin-top: -300px;
    font-size: 50px;
}


.btnMenus{
    margin-top: -60px;
    margin-left: 120px;
}

.btnAtras{
    margin-left: 30px;
}

.contador{
    position: relative;
    right: -700px;
    top: -150px;
}

#aparecer{
    display: none;
}

.btnAyuda{
    width: 45px;;
    height: 65px;
    border-radius:15px;
    background: #662483;
    color: white;
    font-size: 40px;    
}

.vidas{
    margin-top: 10px;
    margin-left: 900px;
}

.btnOpciones{
    margin-top: -20px;
    margin-left: 40px;
}