body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  }

  .titulo{
    margin-left: 8%;
  }

  .tituloProm{
    font-size: 30px;
    font-weight: bold;
  }

  .tituloJuegos{
    font-size: 30px;
    font-weight: bold;
  }

  .tablaNum{
    margin-left: 8%;
    /**/
  }

  .tablaPNum{
    text-align: center; 
  }

  .tablaLet{
    margin-left: 50%;
    margin-top: -535px;
    /**/
  }

  .btnPass{
    background-color: #951B81;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    height: 40px;
}

.btnPass:hover{
    transform: scale(1.1);
    background-color: #5B1453;
}