body{
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.titulo{
    margin-top: 10px;
    margin-left: 220px;
    font-size: 80px;
 }


 .btnFacil{
    width: 280px;
    height: 120px;
    border-radius: 30px;
    background: #662D91;
    border: none;
    color: azure;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 50px;
    margin-left: 190px;    
}

.btnMedio{
    width: 280px;
    height: 120px;
    border-radius: 30px;
    background: #F9B233;
    border: none;
    color: azure;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 50px;
    margin-left: 70px; 
}

.btnDificil{
    width: 280px;
    height: 120px;
    border-radius: 30px;
    background: #009FE3;
    border: none;
    color: azure;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin-top: 50px;
    margin-left: 70px; 
}

.btnInicio{
    margin-top: 100px;
    margin-left: 90px; 
}

.btnRegresar{
    margin-top: 100px;
    margin-left: 40px; 
}