
.opciones{
	width: 50%;
}

.opcionArriba{
	border: 5px solid  #fb71ff;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #ff99ff;
	color: #93278f;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -1000px;
}

.opcionAbajo{
	border: 5px solid  #fb71ff;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #ff99ff;
	color: #93278f;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -1000px;
    top: 110px;
}

.opcionIzquierda{
	border: 5px solid  #fb71ff;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #ff99ff;
	color: #93278f;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -900px;
    top: -95px;
}

.opcionDerecha{
	border: 5px solid  #fb71ff;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #ff99ff;
	color: #93278f;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -1100px;
    top: -190px;
}