body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#imagen{
    margin-top: 80px;
    margin-left: 730px;
    display: flex;
    flex-wrap: wrap;   
}

.card1{
    margin-top: -10px;
    margin-left: 60px;
    
}
.boton1{
    margin-top: 5px;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 25px;
}
 .titulo{
    margin-top: -500px;
    margin-left: 150px;
    font-size: 45px;
 }

.card2{
    margin-top: -10px;
    margin-left: 60px;
}

.boton2{
    margin-top: 5px;
    margin-left: 70px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 25px;
}

