body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.titulo{
    position: relative;
    margin-left: 100px;
    margin-top: -10px;
    z-index: -10;
}

#opcionArriba{
    width: 120px;
	height: 120px;
	border: 5px solid  #752828;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #d35959;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    top: -20px;
    right: -890px;
}

#opcionAbajo{
    width: 120px;
	height: 120px;
	border: 5px solid  #67ab49;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #95e372;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -890px;
    top: -10px;
}

#opcionIzquierda{
    width: 120px;
	height: 120px;
	border: 5px solid  #A5942B;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #E2CD3C;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -750px;
    top: -150px;
}

#opcionDerecha{
    width: 120px;
	height: 120px;
	border: 5px solid  #3d7998;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #75b6d7;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -1030px;
    top: -290px;
}

#btnIniciar{
    width: 150px;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    border: 1px solid  #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left: 50px;
}

#btnReiniciar{
    width: 150px;;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left: 250px;
}

.botones{
    margin-left: 100px;
    margin-top: 440px;
    font-size: 80px;
}

.numeroCompletar{
    position: relative;
    margin-left: 100px;
    margin-top: -380px;
    font-size: 50px;
}


.btnMenus{
    margin-top: -60px;
    margin-left: 120px;
}

.btnAtras{
    margin-left: 30px;
}

.contador{
    position: relative;
    right: -700px;
    top: -150px;
}

#aparecer{
    display: none;
}

.btnAyuda{
    width: 45px;;
    height: 65px;
    border-radius:15px;
    background: #662483;
    color: white;
    font-size: 40px;    
}

.vidas{
    margin-top: -110px;
    margin-left: 650px;
}

.btnOpciones{
    margin-top: -300px;
    margin-left: 40px;
}

.imagenPollo{
    margin-top: -220px;
    margin-left: 100px;
    
}

/* Contiene las propiedades imagen para la animación */
.polloEspera{
    position: relative;
    margin-top: -20px;
    height: 300px;
    width: 420px;
    background-image: url(../Visual/Material/Animaciones/Secuencia/espera.png);
    /* animation-name: esperar; 
    animation-duration: 2s;
    animation-timing-function: steps(13);
    animation-iteration-count: infinite; */
    margin-left: 100px;
}

/* Aquí toma el inicio de la imagen y el pixel final para realizar la animación */
@keyframes esperar {
    from{background-position-x: 0px;}
    to{background-position-x: -5435px;}
}

/*Contiene su duración y el tiempo de ejecución además del no.cuadros de la animación */
#espera {
    animation: esperar 2s steps(13) 86400;
  } 

  .polloSalto{
    position: relative;
    margin-top: -20px;
    height: 300px;
    width: 420px;
    background-image: url(../Visual/Material/Animaciones/Secuencia/salto.png);
    /* animation-name: brincar; */
    /* animation-duration: 2s; */
    /* animation-timing-function: steps(22);
    animation-iteration-count: infinite; */
    margin-left: 100px;
}

@keyframes brincar {
    from{background-position-x: 0px;}
    to{background-position-x: -9196px;}
}

#salto {
    animation: brincar 2s steps(22) 1;
  }

.polloCaida{
    position: relative;
    margin-top: -20px;
    height: 300px;
    width: 400px;
    background-image: url(../Visual/Material/Animaciones/Secuencia/caida.png);
    /* animation-name: caida; */
    /* animation-duration: 2s;
    animation-timing-function: steps(31);
    animation-iteration-count: infinite; */
    margin-left: 100px;
}

@keyframes caida {
    from{background-position-x: 0px;}
    to{background-position-x: -12958px;}
}

#caer {
    animation: caida 2s steps(31) 1;
  }

/* Esta clase oculta las animaciones */
  .desaparecer {
    display: none;
  }

  .barraM{
    margin-left: -5px;
    margin-top: 21px;
}