body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


img{
    position: relative;
    right: -170px;
    top: 20px;

}

.contador{
    position: relative;
    right: -800px;
    top: -820px;
}

.opciones{
	width: 30%;
}

.opcion{
    width: 80px;
	height: 80px;
	border: 1px solid  #fb71ff;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #ff99ff;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}


#arr{
	position: relative;
    top: -350px;
    right: -1000px;
}

#ab{
	position: relative;
    right: -1000px;
    top: -150px;
}

#izq{
	position: relative;
    right: -880px;
    top: -400px;
}

#der{
	position: relative;
    right: -1120px;
    top: -500px;
}

h1{
    position: relative;
    right: -90px; 
}

button{
    width: 10%;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    border: none;
    font-size: 20px;
    position: relative;
    right: -250px;
    top: 440px;
}





