body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.titulo{
    position: relative;
    margin-left: 110px;
    margin-top: -10px;
}
#opcionArriba{
    width: 120px;
	height: 120px;
	border: 5px solid  #752828;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #d35959;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    top: -210px;
    right: -840px;
}

#opcionAbajo{
    width: 120px;
	height: 120px;
	border: 5px solid  #67ab49;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #95e372;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -840px;
    top: -200px;
}

#opcionIzquierda{
    width: 120px;
	height: 120px;
	border: 5px solid  #A5942B;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #E2CD3C;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -700px;
    top: -340px;
}

#opcionDerecha{
    width: 120px;
	height: 120px;
	border: 5px solid  #3d7998;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #75b6d7;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -980px;
    top: -480px;
}

#btnIniciar{
    width: 150px;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    border: 1px solid  #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left:100px;
}

#btnReiniciar{
    width: 150px;;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left:300px;
}

.botones{
    position: relative;
    margin-left: 650px;
    margin-top: 120px;
    font-size: 80px;
}

.numSumas{
    position: relative;
    margin-left: 300px;
    margin-top: 20px;
    font-size: 80px;
}

.btnInicio{
    position: relative;
    margin-left: 70px;
}

.btnAtras{
    position: relative;
    margin-left: 30px;
}

.btnMenus{
    margin-top: -60px;
    margin-left: 40px;
}

.btnAyuda{
    width: 45px;;
    height: 65px;
    border-radius:15px;
    background: #662483;
    color: white;
    font-size: 40px;
    
}

.contador{
    position: relative;
    right: -700px;
    top: -150px;
}

#aparecer{
    display: none;
}

.vidas{
    margin-top: -10px;
    margin-left: 850px;
}

.btnOpciones{
    margin-top: -140px;
    margin-left: 10px;
}