body {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
  }
  
h1{
    margin-top: 20px;
    /* background-color: brown; */
}

.grupo{
    margin-top: 20px;
    margin-block-end: 10%;
    width: 40%;
    /* background-color: yellowgreen; */
}
 .tablaAlumnos{
    margin-top: 20px;
    margin-left: -5%;
    /* background-color: blueviolet; */
    width: 400px;
}

.identificar{
    /* background-color: rgb(255, 20, 20); */
    width: 600px;
    margin-top: -17%;
    margin-left: 45%;
}

.cerrar{
    margin-left: 80%;
    margin-top: -19%;
    width: 30%;
    /* background-color:brown; */
}

:root{
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.cartas{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.cartas > div{
    background-color: #fff;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
}

.cartas > div:hover{
    box-shadow: none;
}

.cartas > div .status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartas h3{
    margin-left: 0.1rem;
    font-size: 1rem;
}

.cartas .grafica{
    position: relative;
    width: 92px;
    height: 80px;
    border-radius: 50%;
}

.cartas svg{
    width: 35rem;
    height: 7rem;
}

.cartas svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.cartas .general svg circle{
    stroke: var(--color-success);
}

.cartas .numeros svg circle{
    stroke: var(--color-danger);
}

.cartas .letras svg circle{
    stroke: var(--color-primary);
}

.cartas .grafica .numero{
    position: absolute;
    top: 8px;
    left: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}