    body {
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: 100% 100%;
        margin: 0;
        padding: 0;
    }

    .barra-superior {
        background-color: #800080;
        color: white;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
    }
    .barra-superior a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
    }

    .botones {
        margin: 20px;
        text-align: center;
    }
    .botones button {
        background-color: #4fa3ff;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 20px;
        margin: 10px;
        cursor: pointer;
    }
    .botones button:hover {
        background-color: #3d87d1;
    }

    .selector-generacion {
        text-align: center;
        margin: 20px 0;
    }
    .selector-generacion select {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }
    .selector-generacion button {
        background-color: #ff9e44;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 20px;
        cursor: pointer;
    }
    .selector-generacion button:hover {
        background-color: #d57f37;
    }

    .contenedor-progreso {
        /* display: flex; */
        justify-content: center;
        margin-top: -20px;
    }

    .btnPass{
        background-color: #E71D73;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 15px;
        height: 40px;
    }
    
    .btnPass:hover{
        transform: scale(1.1);
        background-color: #AF0E5B;
    }

    :root{
        --color-primary: #6C9BCF;
        --color-danger: #FF0060;
        --color-success: #1B9C85;
        --color-info-dark: #7d8da1;
        --color-dark: #363949;
        --color-light: rgba(132, 139, 200, 0.18);
        --color-dark-variant: #677483;
        --color-background: #f6f6f9;
        --card-border-radius: 2rem;
        --border-radius-1: 0.4rem;
        --border-radius-2: 1.2rem;
        --card-padding: 1.8rem;
        --padding-1: 1.2rem;
        --box-shadow: 0 2rem 3rem var(--color-light);
    }

    .grupo {
        margin-left: 46%;
        /* background-color: #3d87d1; */
    }

    .cartas{
        margin-left: 20%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.6rem;
        /* background-color: #1B9C85; */
    }

    .cartas > div{
        background-color: #fff;
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        box-shadow: var(--box-shadow);
        transition: all 0.3s ease;
    }

    .cartas > div:hover{
        box-shadow: none;
    }

    .cartas > div .status{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cartas h3{
        margin-left: 0.1rem;
        font-size: 1rem;
    }

    .cartas .grafica{
        position: relative;
        width: 92px;
        height: 80px;
        border-radius: 50%;
    }

    .cartas svg{
        width: 20rem;
        height: 7rem;
    }

    .cartas svg circle{
        fill: none;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px) rotate(-90deg);
    }

    .cartas .general svg circle{
        stroke: var(--color-success);
    }

    .cartas .numeros svg circle{
        stroke: var(--color-danger);
    }

    .cartas .letras svg circle{
        stroke: var(--color-primary);
    }

    .cartas .grafica .numero{
        position: absolute;
        top: 8px;
        left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
