body{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.barra{
    margin-top: -130px;
}
.titulo{
    position: relative;
    margin-left: 100px;
    margin-top: -200px;
    font-size: 40px;
    z-index: -10;
}

#opcionArriba{
    width: 120px;
	height: 120px;
	border: 5px solid  #752828;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #d35959;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    top: -280px;
    right: -1100px;
}

#opcionAbajo{
    width: 120px;
	height: 120px;
    border: 5px solid  #A5942B;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
    background-color: #E2CD3C;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -950px;
    top: -280px;
}

#opcionIzquierda{
    width: 120px;
	height: 120px;
	border: 5px solid  #67ab49;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #95e372;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -1100px;
    top: -420px;
}

#opcionDerecha{
    width: 120px;
	height: 120px;
	border: 5px solid  #3d7998;
	font-size: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #75b6d7;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
    right: -1250px;
    top: -560px;
}

#btnIniciar{
    width: 150px;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    border: 1px solid  #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left: 150px;
}

#btnReiniciar{
    width: 150px;;
    height: 45px;
    border-radius: 40px;
    background: #65e5ab;
    color: white;
    border: none;
    font-size: 20px;
    position: fixed;
    margin-left: 350px;
}


.botones{
    margin-top: -20px;
    margin-left: 580px;
    font-size: 80px;
}

.btnMenus{
    margin-top: -10px;
    margin-left: -90px;
}
.btnInicio{
    position: relative;
    top: -120px;
    right: -200px;
}

.btnAtras{
    position: relative;
    top: -120px;
    right: -230px;
}

.btnAyuda{
    width: 45px;;
    height: 65px;
    border-radius:15px;
    background: #662483;
    color: white;
    font-size: 40px;
    margin-left: 300px;
}

.radioDificultad{
    position: relative;
    margin-right: 40px;
    margin-top: 100px;
}

#aparecer{
    display: none;
}

.vidas{
    margin-top: -10px;
    margin-left: 850px;
}

.dibujo{
    margin-left: 120px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.peces{
    margin-top: 30px;
    margin-left: 220px;
    display: flex;
    flex-wrap: wrap;
}

.btnOpciones{
    margin-top: -60px;
    margin-left: -250px;
}
.semaforo{
    margin-top: -100px;
    margin-left: 510px;
}