/* Contiene las propiedades imagen para la animación */
.polloEspera{
    position: relative;
    margin-top: 10px;
    height: 500px;
    width: 700px;
    background-image: url(./spritesPrueba/espera.png);
    /* animation-name: esperar; 
    animation-duration: 2s;
    animation-timing-function: steps(13);
    animation-iteration-count: infinite; */
    margin-left: 100px;
}

/* Aquí toma el inicio de la imagen y el pixel final para realizar la animación */
@keyframes esperar {
    from{background-position-x: 0px;}
    to{background-position-x: -9130px;}
}

/*Contiene su duración y el tiempo de ejecución además del no.cuadros de la animación */
#espera {
    animation: esperar 2s steps(13) 3600;
  } 

.polloSalto{
    position: relative;
    margin-top: 10px;
    height: 500px;
    width: 700px;
    background-image: url(./spritesPrueba/salto.png);
    /* animation-name: brincar; */
    /* animation-duration: 2s; */
    /* animation-timing-function: steps(22);
    animation-iteration-count: infinite; */
    margin-left: 100px;
}

@keyframes brincar {
    from{background-position-x: 0px;}
    to{background-position-x: -15450px;}
}

#salto {
    animation: brincar 2s steps(22) 1;
  }

.polloCaida{
    position: relative;
    margin-top: 10px;
    height: 500px;
    width: 700px;
    background-image: url(./spritesPrueba/caida.png);
    /* animation-name: caida; */
    /* animation-duration: 2s;
    animation-timing-function: steps(31);
    animation-iteration-count: infinite; */
    margin-left: 100px;
}

@keyframes caida {
    from{background-position-x: 0px;}
    to{background-position-x: -21770px;}
}

#caer {
    animation: caida 2s steps(31) 1;
  }

/* Esta clase oculta las animaciones */
  .desaparecer {
    display: none;
  }